/* PAGINA LOGIN */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.j-space-between {
  display: flex;
  justify-content: space-between;
}

/* BOTOES */

#cadastrese{
  text-align: end;
}

.home__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}

.login-buttons{
  margin: 2rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-error-alert{
  color: var(--first-color);
  text-align: center;
}

.textlink {
  color : var(--first-color) !important;
}