<%- include('./partials/header') %>

    <main class="form-signin">
      <section class="section">
         
        <form method="POST" action="/login">
            <div class="mt-2 d-flex justify-content-center">
                <img  class="mb-4" src="./assets/logo/icon.png" alt="" width="100" height="60" >
            </div>

            <div class="mt-2 d-flex justify-content-center">
              <h1 class="h3 mb-3 center fw-normal">Faça seu login</h1>
            </div>

          <!-- Visualização da mensagem de erro -->
          <% if (typeof error != 'undefined') { %> 
            <h4 class="h4 search-error-alert"><%= error %> </h4>
          <% } %> 
      
          <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
          </div>
      
          <div class="checkbox mb-3 j-space-between">
            <label>
              <input type="checkbox" name="usuarioLogado" value="remember-me"> Lembrar
            </label>
            <a class="" href="/">
                Esqueci minha senha
            </a>
          </div>
          <div class="login-buttons">
            <a href="/cadastro">Cadastre-se</a> 
            <button class="button home__button" type="submit">Logar</button>
          </div>
          
        </form>

      </section> 
      
  
</main>


<%- include('./partials/footer') %>