<%- include('./partials/header') %>

  <main class="">    
    <section>
      <div class='sobre-conteudo-section'>
        <div class="info-wrapper">        
          <div class="container-infos">
            <h2 class="section-about-title">Estamos aqui para te auxiliar a ter a melhor experiência com sua bike!</h2>
            <h4 class="text-info-externas">
              Nos últimos anos, o ciclismo vêm crescendo e tendo a preferência de várias
              pessoas para sua rotina de exercícios físicos.
            </h4>
          </div> 
      </div>
      </div>      
      <div class='sobre-conteudo-section'>
        <div class="info-wrapper">        
          <div class="container-infos">            
            <img src="/assets/logo/logo_text.png" class='img-fluid' alt="Logo retangular do go pedal">            
          </div> 
      </div>
      </div>
      <div class='sobre-conteudo-section'>
        <div class="info-wrapper">
          <h4 class="text-info-externas">
            Diante desse crescente cenário, nasceu o Go Pedal.
          </h4>
          <h4 class="text-info-externas">              
            Acreditamos que a melhor experiência no ciclismo venha com a utilização
            dos melhores produtos do mercado, garantindo a segurança e confiabilidade no
            equipamento utilizado.
          </h4>
        </div>
      </div>
      <div class="sobre-conteudo-section">
        <div class="info-wrapper">
          <h2>Quem somos</h2>
            <div class="row sobre-equipe-grid">
              <div class="col-md-3 sobre-equipe-card">
                <img src="https://github.com/danielbrazrocha.png" class="about-profile-pic img-fluid"
                alt="Daniel Rocha" />
                <a href="https://github.com/danielbrazrocha">
                  <h4 class="sobre-link-equipe">Daniel Rocha</h4>
                </a>
                <p>Desenvolvedor FullStack</p>
              </div>              
            </div>
          </div>
        </div>      
      <div class="sobre-conteudo-section">
        <div class="info-wrapper">
          <h2>Trabalhe conosco</h2>
          <div class="items">
            <article>
              <div class="thumb"></div>
              <h4 class="text-info-externas mb-0">Nossa empresa está com posições em aberto! </h4>
              <a class="text-info-externas" href="/contato">
                  Entre em contato
              </a>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer') %>